.project1description
{
    position: relative;
    top:350px;
    margin-top: 50px;
    margin-left:5px;
    display: flex;
}
.toolsused1
{
    position: relative;
    top:380px;
    margin-left:5px;

}
.titleprojects
{
    margin-top:-230px;
}